
/* Se aplica a todos los elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: black;
}

/* Contenedor principal */
.grid-container {
    display: grid;
    grid-template-areas: "barra1 barra2"
        "main-content main-content"
        "footer footer";
    grid-template-rows: 10vh 1fr auto;
    grid-template-columns: 5fr 1fr;
    min-height: 100vh;
}

#barra1 {
    grid-area: barra1;
    background-color: #2d572c;
    color: white;
    text-align: left;
    display: flex;
    align-items: center;

}

#barra2 {
    grid-area: barra2;
    background-color: #f4f4f4;
}

.main-content {
    grid-area: main-content;
    background-color: #333;
    padding: 20px;
}

.footer {
    grid-area: footer;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.btn {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #2d572c;
    color: white;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #2d572d;
}
@media (max-width: 500px) {
    #barra1 {
        background-color:red;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    #barra1 {
        background-color:deeppink;
    }
}